body {
	background-color: #000000;
	color: #ffffff;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #ffffff;
}

.register-form {
	max-width: 500px;
	width: 600px;
	padding: 20px;
	background-color: #333333;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	width: 475px;
	padding: 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background-color: #555555;
	color: #ffffff;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
	border-color: #d2064e;
	outline: none;
	background-color: #444444;
}

button.btn {
	width: 100%;
	padding: 10px 15px;
	background-color: #d2064e;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	margin-top: 10px;
}

button.btn:hover {
	background-color: #ff1e6d;
}
.container-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}

.btn {
	background-color: #d2064e;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	width: 300px;
	height: 40px;
	justify-items: center;
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
	text-decoration: none; /* Esto elimina el subrayado */
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn:hover {
	background-color: #ff1e6d;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
	transition: all 0.3s ease;
}

.home-buttons .btn-home {
	background-color: #d2064e; /* Fondo transparente */
	color: #ffffff; /* Color blanco para el texto */
	padding: 5px 10px;
	border: 1px solid #d2064e; /* Borde con el color principal */
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
}

.home-buttons .btn.home:hover {
	background-color: #d2064e;
	color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
	transition: all 0.3s ease;
}

.home-buttons .btn.home:focus {
	outline: none;
}
